@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat:400,700');
body{
    background:#fff;
}

// primary font
$primary-font: 'Lilita One', cursive;
$secondary-font:'Montserrat', sans-serif;


// placeholder

// placeholder variable
%centerElement{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
}
%v-center{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
%h-center{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}



// main header styling

#main-header{
    width:100%;
    padding:25px 0;
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
    nav{
        height:100%;
        padding:15px 0;
        ul{
            height:100%;
            list-style:none;
            align-items: center;
        }
        li{
            
            float:left;
            text-align: center; 
            height:45px;
            line-height:45px;
            padding-left:10px;
            padding-right:10px;
            margin-right:10px;
            &.button-login{
                border:1px solid #fff;
                border-radius:30px;
                padding-left:30px;
                padding-right:30px;
            }
            &.button-signup{
                @extend .button-login;
                background:#fff;
                a{
                    color:#333;
                    font-weight: bold;
                }
            }
        }
        a{
            color:#fff;
            font-size:14px;
            font-weight:400;
            font-family:$secondary-font;
            display:block;
            &:hover{
                text-decoration:none;
            }
        }
    }
}


// hero section

#hero-section{
    width:100%;
    height:100vh;
    background:url(../img/bg-slider.png) no-repeat;
    background-size: cover;
    position:relative;
    .hero-image{
        position:absolute;
        @extend %v-center;
        right:120px;
        margin-top:30px;
    }
    .hero-content{
        @extend %v-center;
        margin-top:30px;
        h1{
            font-family:$primary-font;
            font-size:55px;
            color:#fff;
            text-transform: uppercase;
        }
        h2{
            font-family: $primary-font;
            font-size:45px;
            color:#fff;
            margin-top:-10px;
            margin-bottom:20px;
            text-transform: uppercase;
        }
        p{
            font-family:$secondary-font;
            color:#fff;
            width:50%;
        }
        ul{
            list-style:none;
            margin:80px 0;
            padding:0;
            li{
                margin-right:30px;
                display: inline;
            }
        }

    }

}

// about section
#about-section{
    background: #fff;
    margin-top: 150px;
    h1{
        font-family:$primary-font;
        font-size:55px;
        color:#059e1a;
        text-transform: uppercase;
        margin-top: 50px;
    }

    p{
        font-family:$secondary-font;
        color:#1b2220;
        font-size: 18px;
       
    }

    li{
        list-style-type: none;
        float: left;
        color: #353737; 
    }

    #arrowId{
        padding-left: 15px;
        padding-top: 5px;
    }

    
}

// work section
#work-section{
  margin-top: 80px;
    h1{
        font-family:$primary-font;
        font-size:55px;
        color:#059e1a;
        text-transform: uppercase;
        margin-top: 50px;
    }

    p{
        font-family:$secondary-font;
        color:#1b2220;
        font-size: 20px;
    }
}


//work body section
#body-section{
    margin-top: 100px;
    ul{
        list-style-type: none;
    }
  
    h1{
        font-family:$primary-font;
        font-size:30px;
        color: #686868;
        text-transform: uppercase;
        margin-top: 50px;
    }

    span{
        color: #068d1a;
    }

    p{
        font-family:$secondary-font;
        color:#1b2220;
        font-size: 14px;
    }

    .left-heading1{
        margin-top: 100px;
    }

    .right-heading1{
        margin-top: -100px;
    }

    .left-heading2{
        margin-top: 400px;
    }

    .right-heading2{
        margin-top: 200px;
    }

    li{
        list-style-type: none;
        float: left;
        color: #353737; 
    }

    #arrowId{
        padding-left: 15px;
        padding-top: 5px;
    }
} 


